<section>
  <div class="row">
    <div class="col">
      <img src={{item.imgUrl}} alt="pic" />
    </div>

    <div class="col">
      <div>

        <p>{{item.name}}</p>
        <p>{{item.price}}</p>
      </div>

      <div>
        <div>
          <p>Quantity</p>
          <div>
            <button>-</button>
            <p>1</p>
            <button>+</button>
          </div>
        </div>
        <div>
          <a
            href="/catalog/details/{{item.id}}"
            class="btn btn-outline-success"
          >Add to Cart</a>
        </div>
      </div>
    </div>

  </div>
  <footer>footer</footer>
</section>