<div class="row row-cols-1 row-cols-md-4 g-4">

{{#each data}}

   <div class="col">
        <div class="card mt-5 h-100" style="width: 18rem;">
            <img src={{imgUrl}} class="card-img-top" alt="image">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>                
                <p class="card-text">{{description}}</p>
            </div>
            <div class="card-footer">

                <a href="/catalog/details/{{_id}}" class="btn btn-primary text-end">Read more...</a>
            </div>
        </div>
    </div>

{{/each}}

</div>